@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif ;
}

body {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.card {
    max-width: 250px;
    height: 350px;
    position: relative;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
}

.h-1 {
    text-transform: uppercase;
    color: #2b98f0;

}

.ribon {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 75px;
    background-color: #2b98f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.ribon .fas.fa-user-friends,
.ribon .far.fa-copy,
.ribon .fas.fa-guitar,
.ribon .fas.fa-print,
.ribon .fas.fa-tools,
.ribon .fas.fa-receipt,
.ribon .fas.fa-clipboard-list,
.ribon .fas.fa-cube {
    font-size: 32px;
    color: white
}

.card .price {
    color: #2b98f0;
    font-size: 20px
}

.card ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.card ul li {
    font-size: 12px;
    margin-bottom: 6px
}

.card ul .fa.fa-check {
    font-size: 9px;
    color: rgb(231, 205, 59)
}

.card:hover {
    background-color: rgb(218, 216, 216)
}

.card:hover .fa.fa-check {
    color: #2b98f0
}

.card .btn {
    width: 265px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b98f0;
    border: none;
    border-radius: 0px;
    box-shadow: none
}

@media (max-width:500px) {
    .card {
        max-width: 100%
    }
}
